
body{
    background-color: rgb(91, 167, 131)

}

h1{ color: ;
    background-color: aqua;

}
b{ 
    background-color: rgb(24, 194, 194)

}

p{
    color: ;
    background-color: rgb(0, 255, 55);
}

.n{
    background-color: aqua;
    font-size: larger;

}
.mm{
    background-color: aqua;

}